<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pgmpm.DBConnectTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.89.0" newVersion="1.0.89.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <pgmpm.DBConnectTests.Properties.Settings>
      <setting name="oracle_host" serializeAs="String">
        <value />
      </setting>
      <setting name="oracle_service" serializeAs="String">
        <value />
      </setting>
      <setting name="oracle_port" serializeAs="String">
        <value />
      </setting>
      <setting name="oracle_user" serializeAs="String">
        <value />
      </setting>
      <setting name="oracle_password" serializeAs="String">
        <value />
      </setting>
      <setting name="mysql_host" serializeAs="String">
        <value />
      </setting>
      <setting name="mysql_database" serializeAs="String">
        <value />
      </setting>
      <setting name="mysql_port" serializeAs="String">
        <value />
      </setting>
      <setting name="mysql_user" serializeAs="String">
        <value />
      </setting>
      <setting name="mysql_password" serializeAs="String">
        <value />
      </setting>
      <setting name="postgresql_host" serializeAs="String">
        <value />
      </setting>
      <setting name="postgresql_database" serializeAs="String">
        <value />
      </setting>
      <setting name="postgresql_port" serializeAs="String">
        <value />
      </setting>
      <setting name="postgresql_user" serializeAs="String">
        <value />
      </setting>
      <setting name="postgresql_password" serializeAs="String">
        <value />
      </setting>
      <setting name="mssql_host" serializeAs="String">
        <value />
      </setting>
      <setting name="mssql_database" serializeAs="String">
        <value />
      </setting>
      <setting name="mssql_port" serializeAs="String">
        <value />
      </setting>
      <setting name="mssql_user" serializeAs="String">
        <value />
      </setting>
      <setting name="mssql_password" serializeAs="String">
        <value />
      </setting>
    </pgmpm.DBConnectTests.Properties.Settings>
  </userSettings>
</configuration>