<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pgmpm.Database.Properties.DBSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="pgmpm.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pgmpm.Database.Properties.DBSettings>
            <setting name="AESkey" serializeAs="String">
                <value />
            </setting>
        </pgmpm.Database.Properties.DBSettings>
        <pgmpm.Database.Properties.Settings>
            <setting name="AESkey" serializeAs="String">
                <value />
            </setting>
            <setting name="CaseColumnName" serializeAs="String">
                <value>case_id</value>
            </setting>
            <setting name="CaseTableName" serializeAs="String">
                <value>CASE</value>
            </setting>
            <setting name="EventSortArgument" serializeAs="String">
                <value>timestamp</value>
            </setting>
            <setting name="EventTableName" serializeAs="String">
                <value>EVENT</value>
            </setting>
            <setting name="FactColumnName" serializeAs="String">
                <value>fact_id</value>
            </setting>
            <setting name="FactTableName" serializeAs="String">
                <value>FACT</value>
            </setting>
            <setting name="JoinAllDimensions" serializeAs="String">
                <value>True</value>
            </setting>
        </pgmpm.Database.Properties.Settings>
    </userSettings>
</configuration>