<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pgmpm.Visualization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pgmpm.Visualization.Properties.Settings>
            <setting name="AutomaticallyAlignNodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransitionHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TransitionWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlaceRadius" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PositionCorrection" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ColumnWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="RowHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="DefaultStrokeThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultBackgroundColor" serializeAs="String">
                <value>#FFD3D3D3</value>
            </setting>
            <setting name="DefaultBorderColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="DefaultStrokeColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="DefaultMoveCursor" serializeAs="String">
                <value>SizeAll</value>
            </setting>
            <setting name="DeletedNodeColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="AddedNodeColor" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="ChangedNodeColor" serializeAs="String">
                <value>#FFFFA500</value>
            </setting>
        </pgmpm.Visualization.Properties.Settings>
    </userSettings>
</configuration>